# Node modules
node_modules/

# Output files
build/

# Coverage files
coverage/

# Yarn 4
.yarn/
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Environment files
.env
.env.local
.env.*.local

# IDE specific files
.vscode/
.idea/

# Miscellaneous files
.DS_Store
Thumbs.db
